# Copyright 2018 ARICENT HOLDINGS LUXEMBOURG SARL and Cable Television
# Laboratories, Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This script is responsible for deploying Aricent_Iaas environments and
# Kubernetes Services
---
- hosts: localhost
  become: true
  become_user: root
  become_method: sudo

  tasks:
  - name: set context to kubectl configuration file
    command: "kubectl config --kubeconfig={{ PROJ_ARTIFACT_DIR }}/node-kubeconfig.yaml use-context {{ Project_name }}"

  - name: export kubectl path
    lineinfile:
         dest: ~/.bashrc
         insertbefore: EOF
         line: "export KUBECONFIG={{ PROJ_ARTIFACT_DIR }}/node-kubeconfig.yaml"

  - name: run file
    shell: source ~/.bashrc
    args:
      executable: /bin/bash
