# Copyright 2018 ARICENT HOLDINGS LUXEMBOURG SARL and Cable Television
# Laboratories, Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This script is responsible for deploying Aricent_Iaas environments and
# Kubernetes Services
---
- hosts: localhost

  gather_facts: no

  environment:
    http_proxy: "{{ http_proxy | default('') }}"
    https_proxy: "{{ https_proxy | default('') }}"
    no_proxy: "{{ no_proxy | default('') }}"

  vars:
    ha_enabled: "{{ ha_enabled }}"
    helm_enabled: "{{ helm_enabled }}"
    metrics_server_enabled: "{{ metrics_server_enabled }}"

  tasks:
  - name: Apply template and copy {{ KUBESPRAY_INV_J2 }} to {{ PROJ_ARTIFACT_DIR }}/inventory/inventory.cfg
    template:
      src: "{{ KUBESPRAY_INV_J2 }}"
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/inventory.cfg"

  - name: set kube config dir
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/k8s-cluster.yml"
      regexp: 'kube_config_dir:.*'
      replace: 'kube_config_dir: {{ KUBERNETES_PATH }}'

  - name: set kube service subnet
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/k8s-cluster.yml"
      regexp: 'kube_service_addresses:.*'
      replace: 'kube_service_addresses: {{ service_subnet }}'

  - name: set kube pod subnet
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/k8s-cluster.yml"
      regexp: 'kube_pods_subnet:.*'
      replace: 'kube_pods_subnet: {{ pod_subnet }}'

  - name: set kube networking plugin
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/k8s-cluster.yml"
      regexp: 'kube_network_plugin:.*'
      replace: 'kube_network_plugin: {{ networking_plugin }}'

  - name: set kube version in {{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/k8s-cluster.yml
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/k8s-cluster.yml"
      regexp: 'kube_version:.*'
      replace: 'kube_version: {{ kube_version }}'

  - name: set supplementary_addresses_in_ssl_keys in {{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/k8s-cluster.yml
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/k8s-cluster.yml"
      regexp: '# supplementary_addresses_in_ssl_keys:.*'
      replace: 'supplementary_addresses_in_ssl_keys: {{ lb_ips }} '
    when: ha_enabled

  - name: prepare HTTP proxy for Kubespray's all.yml
  - name: Apply template and copy {{ KUBESPRAY_GROUP_ALL_J2 }} to {{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/all.yml
    template:
      src: "{{ KUBESPRAY_GROUP_ALL_J2 }}"
      dest: "{{ PROJ_ARTIFACT_DIR }}//inventory/group_vars/all/all.yml"

  - name: Enable loadbalancer domain name
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/k8s-cluster.yml"
      regexp: '# supplementary_addresses_in_ssl_keys:.*'
      replace: 'supplementary_addresses_in_ssl_keys: {{ lb_ips }} '
    when: ha_enabled

  - name: prepare HTTP proxy for Kubespray's all.yml
    lineinfile:
      path: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/addons.yml"
      line: 'apiserver_loadbalancer_domain_name: {{ lb_ip }}'
      create: yes
    when: ha_enabled

  - name: Enable loadbalancer domain name
    lineinfile:
      path: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/addons.yml"
      line: 'apiserver_loadbalancer_domain_name: {{ lb_ip }}'
      create: yes
    when: ha_enabled

  - name: Enable helm deployment
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/addons.yml"
      regexp: 'helm_enabled: false'
      replace: 'helm_enabled: true'
    when: helm_enabled

  - name: Enable helm deployment
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/k8s-cluster/addons.yml"
      regexp: 'metrics_server_enabled: false'
      replace: 'metrics_server_enabled: true'
    when: metrics_server_enabled

  - name: Set loadbalancer apiserver
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/all/all.yml"
      regexp: '#loadbalancer_apiserver:'
      replace: 'loadbalancer_apiserver:'
    when: ha_enabled

  - name: Set loadbalancer apiserver address
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/all/all.yml"
      regexp: '#  address: 1.2.3.4'
      replace: '  address: {{ lb_ip }}'
    when: ha_enabled

  - name: Set loadbalancer apiserver port
    replace:
      dest: "{{ PROJ_ARTIFACT_DIR }}/inventory/group_vars/all/all.yml"
      regexp: '#  port: 1234'
      replace: '  port: 8383'
    when: ha_enabled
