# Copyright 2018 ARICENT HOLDINGS LUXEMBOURG SARL and Cable Television
# Laboratories, Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This script is responsible for deploying Aricent_Iaas environments and
# Kubernetes Services
# This playbook create weave network.
---
- hosts: all
  become: yes
  become_user: root
  become_method: sudo

  environment:
    http_proxy: "{{ http_proxy }}"
    https_proxy: "{{ https_proxy }}"
    no_proxy: "{{ no_proxy }}"

  tasks:
  - name: creating weave inteface
    command: "kubectl --kubeconfig={{ PROJECT_PATH }}/{{ Project_name }}/node-kubeconfig.yaml create -f {{ SRC_PACKAGE_PATH }}/packages/source/multus_cni/weave/weave-net.yml"
    ignore_errors: true
    delegate_to: "localhost"

  - name: Ansible create weave network file
    copy:
     dest: "/home/{{ networkName }}_file.yaml"
     content: |
       apiVersion: "kubernetes.com/v1"
       kind: Network
       metadata:
        name: {{ networkName }}
       plugin: weave-net
       args: '[
        {
          "type": "weave-net",
          "hairpinMode": true,
          "masterplugin": {{ masterPlugin }}
        }
       ]'
    delegate_to: "localhost"

  - name: creating weave network
    command: "kubectl --kubeconfig={{ PROJECT_PATH }}/{{ Project_name }}/node-kubeconfig.yaml create -f /home/{{ networkName }}_file.yaml"
    ignore_errors: true
    delegate_to: "localhost"

  - name: deleting created file
    file: name=/home/{{ networkName }}_file.yaml state=absent
    ignore_errors: true
    delegate_to: "localhost"
