apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ ceph_claim_name }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ Ceph_storage }}
  storageClassName: fast-rbd2
