apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ ceph_claim_name }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ ceph_storage_size }}
  storageClassName: fast-rbd2
