---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ claim_name }}
spec:
  storageClassName: manual
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ storage }}
