# Copyright 2018 ARICENT HOLDINGS LUXEMBOURG SARL and Cable Television
# Laboratories, Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This script is responsible for deploying Aricent_Iaas environments and
# Kubernetes Services
kubernetes:
  Project_name: {{ build_id }}
  Git_branch: {{ branch_name }}
  version: v{{ k8s_version }}
  enable_metrics_server: True
  enable_helm: True
  Exclusive_CPU_alloc_support: True
  enable_logging: True
  log_level: debug
  logging_port: "30011"
  basic_authentication:
  - user:
      user_name: admin
      user_password: admin
      user_id: admin
  node_configuration:
  - host:
      hostname: master
      ip: {{ master_admin_ip }}
      registry_port: 2376
      node_type: master
      label_key: zone
      label_value: master
      password: {{ node_host_pass }}
      user: root
  - host:
      hostname: minion
      ip: {{ minion_admin_ip }}
      registry_port: 4386
      node_type: minion
      label_key: zone
      label_value: minion
      password: {{ node_host_pass }}
      user: root
  Docker_Repo:
    ip: {{ master_admin_ip }}
    port: 4000
    password: {{ node_host_pass }}
    user: root
  proxies:
    ftp_proxy: ""
    http_proxy: ""
    https_proxy: ""
    no_proxy: "127.0.0.1,localhost,{{ minion_admin_ip }},{{ master_admin_ip }}"
  Persistent_Volumes:
    Rook_Volume:
    - name: rook-vol-1
      size: 4
      path: /mnt/ceph
    - name: rook-vol-2
      size: 5
      path: /mnt/ceph
    Ceph_Volume:
    - host:
        hostname: master
        ip: {{ master_admin_ip }}
        user: root
        password: password
        node_type: ceph_controller
        Ceph_claims:
        - claim_parameters:
            claim_name: claim3
            storage: 4Gi
        - claim_parameters:
            claim_name: claim4
            storage: 5Gi
    - host:
        hostname: master
        ip: {{ master_admin_ip }}
        user: root
        password: password
        node_type: ceph_osd
        second_storage:
        - /dev/vdb
    Host_Volume:
    - claim_parameters:
        Claim_name: claim5
        storage: 4Gi
    - claim_parameters:
        Claim_name: claim6
        storage: 5Gi
  Networks:
  - Default_Network:
      # TODO/FIXME - Determine why flannel, cilium, & contiv do not work here
      # calico deploys without error but cncf tests ALL fail
      # weave is working
      networking_plugin: {{ networking_plugin }}
      service_subnet:  10.241.241.0/24
      pod_subnet: 10.241.251.0/24
      network_name: default-network
      isMaster: "true"
  - Multus_network:
    - CNI:
      - dhcp
      # TODO/FIXME - Multus is broken with Ubuntu 18
{% if ubuntu_version == 16 %}
      # TODO/FIXME - Macvlan is broken with 18.04
      - macvlan
{% endif %}
{% if networking_plugin != 'weave' and ubuntu_version == 16 %}
      - weave
{% endif %}
{% if networking_plugin != 'flannel' and ubuntu_version == 16 %}
# TODO/FIXME - Flannel is broken
#      - flannel
{% endif %}
    - CNI_Configuration:
      # TODO/FIXME - Flannel is not working with 1.12.x
      - Flannel:
        - flannel_network:
            network_name: flannel-network-1
            network: 10.2.0.0/18
            subnet: 24
            isMaster: "false"
        - flannel_network:
            network_name: flannel-network-2
            network: 10.2.1.0/18
            subnet: 24
            isMaster: "false"
      - Weave:
        - weave_network:
            network_name: weave-network-1
            subnet: 10.1.0.0/24
            isMaster: "false"
        # TODO/FIXME - Multiple weave networks does not work
#        - weave_network:
#            network_name: weave-network-2
#            subnet: 10.1.2.0/24
#            isMaster: "false"
      # TODO/FIXME - Macvlan appears to be broken with 18.04
      - Macvlan:
        - macvlan_networks:
            hostname: minion
            gateway: 172.16.151.1
            ip: 172.16.151.145/24
            parent_interface: {{ admin_iface }}
            vlanid: 34
            master: {{ admin_iface }}.34
            network_name: macvlan34-conf-19march
            rangeEnd: 172.16.151.60
            rangeStart: 172.16.151.55
            routes_dst: 0.0.0.0/0
            subnet: 172.16.151.0/24
            type: host-local
            isMaster: "false"
        - macvlan_networks:
            hostname: minion
            gateway: 172.16.151.1
            ip: 172.16.151.144/24
            parent_interface: {{ admin_iface }}
            vlanid: 35
            master: {{ admin_iface }}.35
            network_name: macvlan35-conf-19march
            rangeEnd: 172.16.151.65
            rangeStart: 172.16.151.61
            routes_dst: 0.0.0.0/0
            subnet: 172.16.151.0/24
            type: dhcp
            isMaster: "false"
