hostname: {{ hostname }}
ip: {{ node_ip }}
registry_port: {{ registry_port }}
node_type: {{ node_type }}
label_key: zone
label_value: {{ label_value }} # master|minion
password: {{ node_host_pass }}
user: root
